:root {
  /* Colores */
  --color-primario: #004080; /* Azul */
  --color-secundario: #0098d4; /* Celeste */
  --color-terciario: #00f5f0; /* Verde claro */
  --color-fondo: #f4f4f4; /* Gris claro */
  --color-texto: #333; /* Gris oscuro */
  --color-texto-secundario: #fff; /* Blanco */

}
/* === General === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === Body y fuente base === */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: var(--color-texto);
}

/* === Navegación === */
header {
  background-color: var(--color-primario);
  padding: 1rem 0;
}

.navbar-brand img {
  height: 50%;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

nav a {
  color: var(--color-texto-secundario);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* === Sección Pag Inicio === */

.programas-seccion-inicio {
  text-align: center;
  padding: 40px 0;
}

.titulo-programas h2 {
  background-color: var(--color-secundario);
  color: white;
  font-size: 24px;
  margin: 0;
  padding: 20px;
}

.titulo-programas span {
  color: var(--color-terciario);
  font-weight: bold;
}

.descripcion-programas-inicio {
  margin: 20px auto;
  font-size: 18px;
  max-width: 800px;
  line-height: 1.5;
  color: #333;
}

.contenedor-programas-inicio {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.programa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programa img {
  width: 180px;
  max-width: 100%;
  height: auto;
}

.etiqueta {
  width: 300px;
  padding: 15px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.naranja {
  background-color: #ff7f00;
}

.verde {
  background-color: #00bfa5;
}

.violeta{
  background-color: #d67dda;
}

/* === Sección Novedades === */
main {
  min-height: 80vh;
  max-width: 80%;
  margin: auto;
  padding: 0.5rem 2rem;
  background-color: #fff;
  border-radius: 10px;
}

#titulo-inicio {
  text-align: center;
  background-color: var(--color-secundario);
  color: white;
  margin: 0;
  padding: 20px;
}

#features {
  padding: 1rem 0;
}

#features ul {
  padding-left: 1rem;
}

div.registro-evento {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  background-color: #e6f0ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.372);
  justify-content: center;
}

.btn-inscripcion {
  background-color: var(--color-primario);
  color: var(--color-texto-secundario);
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;

}
.btn-inscripcion:hover {
  background-color: #bacde1;
  color: #031d36;
  transition: background-color 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.454);
}
/* Efecto al pasar el mouse */
div.registro-evento:hover {
  color: #dfe1e4; /* cambia el color del texto */
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5); /* luz interna más brillante */
  transform: translateY(
    3px
  ); /* ligeramente levanta el div para efecto dinámico */
  background-image: linear-gradient(
    135deg,
    #6586b7,
    #03142e
  ); /* fondo degradado */
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(5, 109, 109, 0.3);
  transition: all 0.5s ease-in-out; /* transición suave */
}

#novedades {
  margin-bottom: 1.5rem;
}

#novedades h2 {
  color: var(--color-primario);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#selectorNovedades,
#btnNoticias {
  margin: 1rem 0;
  padding: 0.7rem;
  font-size: 1rem;
}

#selectorNovedades {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#btnNoticias {
  background-color: var(--color-primario);
  color: var(--color-texto-secundario);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btnNoticias:hover {
  background-color: #0059b3;
}

/* === Contenedor de noticias === */
#noticiasContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.noticia {
  background-color: #e6f0ff;
  padding: 1rem;
  border-radius: 8px;
  border-left: 5px solid var(--color-primario);
}

.noticia h3 {
  margin-bottom: 0.5rem;
  color: #003366;
}

.noticia a {
  color: var(--color-primario);
  text-decoration: none;
  font-weight: bold;
}

.noticia a:hover {
  text-decoration: underline;
}
/* Contenedor principal de Mapeo */
.empresas-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
}

/* Filtros de Mapeo */
.filtros {
  flex: 1 1 250px;
  max-width: 250px;
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.169);
}

.filtros h3 {
  margin-bottom: 1rem;
}

.filtros label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.filtros input,
.filtros select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
}
.titulo-descripcion {
  text-align: center;
  padding: 2.5rem;
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
  color: var(--color-texto);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  background-image: url("../assets/img/fondoMapeo.jpeg");
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* Aside de Mapeo */
aside {
  height: 50%;
}
div.contenedor-aside {
  flex: 1;
  max-width: 100%;
  margin: 1rem 0.3rem 2rem 0.3rem;
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.364);
  justify-content: center;
  align-items: center;
}

div.contenedor-aside h3 {
  margin-bottom: 1rem;
  color: var(--color-primario);
}

/* Tarjetas de empresas */

.cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: black;
  border-radius: 15px;
  box-shadow: 0 4px 8px #ccc;
  width: 200px;
  max-height: 250px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
.cards :hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

.tarjetas-empresas {
  flex: 1;
  display: wrap;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
}

.tarjeta {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.277);
  cursor: pointer;
}

/* === Footer === */
footer {
  background-color: #003366;
  color: #fff;
  text-align: center;
  padding-top: 2rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

footer a {
  color: #80c1ff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer img {
  margin-top: 1rem;
  width: 100px;
}
/* === Logo y botón hamburguesa === */
.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--color-primario);
  color: #fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.Title {
  text-align: center;
  padding: 20px 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
     max-width: 80%;
      margin: auto;
      background-color: #ffffff;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.05);
      background-color: var(--color-secundario);
    }
    .contact-container h2 {
      color: var(--color-texto-secundario);
    }
    .mb-3 {
      margin: 10px 0;
      color: var(--color-texto-secundario);
    }
    .form-control {
      width: 100%;
      height: 2rem;
      padding-left: 10px;
    }
    .form-control:focus {
      border-color: #0077b6;
      box-shadow: 0 0 0 0.2rem rgba(0, 119, 182, 0.25);
    }
    .btn-contact{
      background-color: var(--color-primario);
  color: var(--color-texto-secundario);
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
}
.btn-contact:hover {
  background-color: #bacde1;
  color: #031d36;
  transition: background-color 0.5s ease;
}

.contact-container #message {
  height: 5rem;
}

    .form-text {
      font-size: 0.85rem;
      color: #c9c9c9;
    }

.menu-toggle {
  font-size: 2rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
}

/* Ocultar menú por defecto en móvil */
#mainNav {
  display: none;
  background-color: var(--color-primario);
}

#mainNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  text-align: center;
}

#mainNav li {
  border-top: 1px solid #ccc;
}

#mainNav a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
}

#mainNav a:hover {
  background-color: #003366;
  border-radius: 10px;
}

/* Mostrar menú si tiene clase "open" */
#mainNav.open {
  display: flex;
  flex-direction: column;
}

/* Estilos para pantallas grandes */
@media (min-width: 600px) {
  .menu-toggle {
    display: none;
  }

  #mainNav {
    display: flex !important;
    justify-content: center;
    background-color: var(--color-primario);
  }

  #mainNav ul {
    flex-direction: row;
    gap: 1.5rem;
  }

  #mainNav li {
    border: none;
  }

  #mainNav a {
    padding: 1rem;
  }
}
/* === Responsive: Desktop === */
@media (min-width: 600px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }

  #noticiasContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  #noticiasContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
